
.card-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    transition: all 1s ease;

    transform-style: preserve-3d;

}
.card {
    margin:  3rem;
    perspective: 1000px;
    box-shadow: 0px 0px 43px 1px rgba(0,0,0,0.73);
    -webkit-box-shadow: 0px 0px 43px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 0px 43px 1px rgba(0,0,0,0.73);
}
.card-front{
    grid-area: 1 / 1;
}

.card-back{
    grid-area: 1/1;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transform: rotateY(180deg);
    visibility: hidden;
}

.card:hover .card-container{
    transform: rotateY(180deg);
}
.card:hover .card-back{
    visibility:visible;
}
.card:hover .card-front{
    visibility: hidden;
}

.card-container .card-front img{
    width: 200px;
    height: 200px;
}